<!DOCTYPE html>

<html>
    <head>
        <title>Mantenimiento de cursos</title>
        <link rel="stylesheet" href="Index.css" />
    </head>
    <body>
        <form id="form1">
            <div id="link1"><a href="Cursos.cshtml">CURSOS</a></div>
            <div id="link2"><a href="Alumnos.cshtml">ALUMNOS</a></div>
            <div id="link3"><a href="Notas.cshtml">NOTAS</a></div>
        </form>
    </body>
</html>